<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <header>
    <h1>Frequently Asked Questions</h1>
  </header>
  <main>
    <h2>How does one go about exchanging money?</h2>
    <p>You must bring a valid government-issued picture ID, like a passport or driver’s license, to one of our locations in order to exchange money...</p>
  </main>
</body>
</html>